body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: #333;
  color: white;
  height: 50px;
  padding: 10px;
}

#map {
  position: absolute;
  top: 50px;
  left: 250px;
  right: 0;
  bottom: 0;
}
